OpenDentBusiness/Web References/WebServiceMainHQ/WebServiceMainHQ.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://www.opendental.com/OpenDentalWebServiceHQ/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="https://www.opendental.com/OpenDentalWebServiceHQ/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://www.opendental.com/OpenDentalWebServiceHQ/">
      <s:element name="PerformRefreshCache">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="officeData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PerformRefreshCacheResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PerformRefreshCacheResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerateWebAppUrl">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="officeData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerateWebAppUrlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenerateWebAppUrlResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateWebAppUrl">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="officeData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateWebAppUrlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidateWebAppUrlResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateVersion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="officeData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateVersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidateVersionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SmsSend">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="officeData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SmsSendResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SmsSendResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SmsSignAgreement">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="officeData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SmsSignAgreementResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SmsSignAgreementResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SmsCancelService">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="officeData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SmsCancelServiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SmsCancelServiceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestListenerProxyPrefs">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="officeData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestListenerProxyPrefsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RequestListenerProxyPrefsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEConnectorType">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="officeData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEConnectorTypeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEConnectorTypeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetEConnectorType">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="officeData" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="isListening" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetEConnectorTypeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetEConnectorTypeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PerformRefreshCacheSoapIn">
    <wsdl:part name="parameters" element="tns:PerformRefreshCache" />
  </wsdl:message>
  <wsdl:message name="PerformRefreshCacheSoapOut">
    <wsdl:part name="parameters" element="tns:PerformRefreshCacheResponse" />
  </wsdl:message>
  <wsdl:message name="GenerateWebAppUrlSoapIn">
    <wsdl:part name="parameters" element="tns:GenerateWebAppUrl" />
  </wsdl:message>
  <wsdl:message name="GenerateWebAppUrlSoapOut">
    <wsdl:part name="parameters" element="tns:GenerateWebAppUrlResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateWebAppUrlSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateWebAppUrl" />
  </wsdl:message>
  <wsdl:message name="ValidateWebAppUrlSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateWebAppUrlResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateVersionSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateVersion" />
  </wsdl:message>
  <wsdl:message name="ValidateVersionSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateVersionResponse" />
  </wsdl:message>
  <wsdl:message name="SmsSendSoapIn">
    <wsdl:part name="parameters" element="tns:SmsSend" />
  </wsdl:message>
  <wsdl:message name="SmsSendSoapOut">
    <wsdl:part name="parameters" element="tns:SmsSendResponse" />
  </wsdl:message>
  <wsdl:message name="SmsSignAgreementSoapIn">
    <wsdl:part name="parameters" element="tns:SmsSignAgreement" />
  </wsdl:message>
  <wsdl:message name="SmsSignAgreementSoapOut">
    <wsdl:part name="parameters" element="tns:SmsSignAgreementResponse" />
  </wsdl:message>
  <wsdl:message name="SmsCancelServiceSoapIn">
    <wsdl:part name="parameters" element="tns:SmsCancelService" />
  </wsdl:message>
  <wsdl:message name="SmsCancelServiceSoapOut">
    <wsdl:part name="parameters" element="tns:SmsCancelServiceResponse" />
  </wsdl:message>
  <wsdl:message name="RequestListenerProxyPrefsSoapIn">
    <wsdl:part name="parameters" element="tns:RequestListenerProxyPrefs" />
  </wsdl:message>
  <wsdl:message name="RequestListenerProxyPrefsSoapOut">
    <wsdl:part name="parameters" element="tns:RequestListenerProxyPrefsResponse" />
  </wsdl:message>
  <wsdl:message name="GetEConnectorTypeSoapIn">
    <wsdl:part name="parameters" element="tns:GetEConnectorType" />
  </wsdl:message>
  <wsdl:message name="GetEConnectorTypeSoapOut">
    <wsdl:part name="parameters" element="tns:GetEConnectorTypeResponse" />
  </wsdl:message>
  <wsdl:message name="SetEConnectorTypeSoapIn">
    <wsdl:part name="parameters" element="tns:SetEConnectorType" />
  </wsdl:message>
  <wsdl:message name="SetEConnectorTypeSoapOut">
    <wsdl:part name="parameters" element="tns:SetEConnectorTypeResponse" />
  </wsdl:message>
  <wsdl:message name="PerformRefreshCacheHttpPostIn">
    <wsdl:part name="officeData" type="s:string" />
  </wsdl:message>
  <wsdl:message name="PerformRefreshCacheHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GenerateWebAppUrlHttpPostIn">
    <wsdl:part name="officeData" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GenerateWebAppUrlHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ValidateWebAppUrlHttpPostIn">
    <wsdl:part name="officeData" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ValidateWebAppUrlHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ValidateVersionHttpPostIn">
    <wsdl:part name="officeData" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ValidateVersionHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SmsSendHttpPostIn">
    <wsdl:part name="officeData" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SmsSendHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SmsSignAgreementHttpPostIn">
    <wsdl:part name="officeData" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SmsSignAgreementHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SmsCancelServiceHttpPostIn">
    <wsdl:part name="officeData" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SmsCancelServiceHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="RequestListenerProxyPrefsHttpPostIn">
    <wsdl:part name="officeData" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RequestListenerProxyPrefsHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetEConnectorTypeHttpPostIn">
    <wsdl:part name="officeData" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetEConnectorTypeHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SetEConnectorTypeHttpPostIn">
    <wsdl:part name="officeData" type="s:string" />
    <wsdl:part name="isListening" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SetEConnectorTypeHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="WebServiceMainHQSoap">
    <wsdl:operation name="PerformRefreshCache">
      <wsdl:input message="tns:PerformRefreshCacheSoapIn" />
      <wsdl:output message="tns:PerformRefreshCacheSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GenerateWebAppUrl">
      <wsdl:input message="tns:GenerateWebAppUrlSoapIn" />
      <wsdl:output message="tns:GenerateWebAppUrlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateWebAppUrl">
      <wsdl:input message="tns:ValidateWebAppUrlSoapIn" />
      <wsdl:output message="tns:ValidateWebAppUrlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateVersion">
      <wsdl:input message="tns:ValidateVersionSoapIn" />
      <wsdl:output message="tns:ValidateVersionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SmsSend">
      <wsdl:input message="tns:SmsSendSoapIn" />
      <wsdl:output message="tns:SmsSendSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SmsSignAgreement">
      <wsdl:input message="tns:SmsSignAgreementSoapIn" />
      <wsdl:output message="tns:SmsSignAgreementSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SmsCancelService">
      <wsdl:input message="tns:SmsCancelServiceSoapIn" />
      <wsdl:output message="tns:SmsCancelServiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RequestListenerProxyPrefs">
      <wsdl:input message="tns:RequestListenerProxyPrefsSoapIn" />
      <wsdl:output message="tns:RequestListenerProxyPrefsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEConnectorType">
      <wsdl:input message="tns:GetEConnectorTypeSoapIn" />
      <wsdl:output message="tns:GetEConnectorTypeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetEConnectorType">
      <wsdl:input message="tns:SetEConnectorTypeSoapIn" />
      <wsdl:output message="tns:SetEConnectorTypeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WebServiceMainHQHttpPost">
    <wsdl:operation name="PerformRefreshCache">
      <wsdl:input message="tns:PerformRefreshCacheHttpPostIn" />
      <wsdl:output message="tns:PerformRefreshCacheHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GenerateWebAppUrl">
      <wsdl:input message="tns:GenerateWebAppUrlHttpPostIn" />
      <wsdl:output message="tns:GenerateWebAppUrlHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateWebAppUrl">
      <wsdl:input message="tns:ValidateWebAppUrlHttpPostIn" />
      <wsdl:output message="tns:ValidateWebAppUrlHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateVersion">
      <wsdl:input message="tns:ValidateVersionHttpPostIn" />
      <wsdl:output message="tns:ValidateVersionHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SmsSend">
      <wsdl:input message="tns:SmsSendHttpPostIn" />
      <wsdl:output message="tns:SmsSendHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SmsSignAgreement">
      <wsdl:input message="tns:SmsSignAgreementHttpPostIn" />
      <wsdl:output message="tns:SmsSignAgreementHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SmsCancelService">
      <wsdl:input message="tns:SmsCancelServiceHttpPostIn" />
      <wsdl:output message="tns:SmsCancelServiceHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="RequestListenerProxyPrefs">
      <wsdl:input message="tns:RequestListenerProxyPrefsHttpPostIn" />
      <wsdl:output message="tns:RequestListenerProxyPrefsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEConnectorType">
      <wsdl:input message="tns:GetEConnectorTypeHttpPostIn" />
      <wsdl:output message="tns:GetEConnectorTypeHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SetEConnectorType">
      <wsdl:input message="tns:SetEConnectorTypeHttpPostIn" />
      <wsdl:output message="tns:SetEConnectorTypeHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceMainHQSoap" type="tns:WebServiceMainHQSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PerformRefreshCache">
      <soap:operation soapAction="https://www.opendental.com/OpenDentalWebServiceHQ/PerformRefreshCache" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateWebAppUrl">
      <soap:operation soapAction="https://www.opendental.com/OpenDentalWebServiceHQ/GenerateWebAppUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateWebAppUrl">
      <soap:operation soapAction="https://www.opendental.com/OpenDentalWebServiceHQ/ValidateWebAppUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateVersion">
      <soap:operation soapAction="https://www.opendental.com/OpenDentalWebServiceHQ/ValidateVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SmsSend">
      <soap:operation soapAction="https://www.opendental.com/OpenDentalWebServiceHQ/SmsSend" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SmsSignAgreement">
      <soap:operation soapAction="https://www.opendental.com/OpenDentalWebServiceHQ/SmsSignAgreement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SmsCancelService">
      <soap:operation soapAction="https://www.opendental.com/OpenDentalWebServiceHQ/SmsCancelService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestListenerProxyPrefs">
      <soap:operation soapAction="https://www.opendental.com/OpenDentalWebServiceHQ/RequestListenerProxyPrefs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEConnectorType">
      <soap:operation soapAction="https://www.opendental.com/OpenDentalWebServiceHQ/GetEConnectorType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetEConnectorType">
      <soap:operation soapAction="https://www.opendental.com/OpenDentalWebServiceHQ/SetEConnectorType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceMainHQSoap12" type="tns:WebServiceMainHQSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PerformRefreshCache">
      <soap12:operation soapAction="https://www.opendental.com/OpenDentalWebServiceHQ/PerformRefreshCache" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateWebAppUrl">
      <soap12:operation soapAction="https://www.opendental.com/OpenDentalWebServiceHQ/GenerateWebAppUrl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateWebAppUrl">
      <soap12:operation soapAction="https://www.opendental.com/OpenDentalWebServiceHQ/ValidateWebAppUrl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateVersion">
      <soap12:operation soapAction="https://www.opendental.com/OpenDentalWebServiceHQ/ValidateVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SmsSend">
      <soap12:operation soapAction="https://www.opendental.com/OpenDentalWebServiceHQ/SmsSend" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SmsSignAgreement">
      <soap12:operation soapAction="https://www.opendental.com/OpenDentalWebServiceHQ/SmsSignAgreement" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SmsCancelService">
      <soap12:operation soapAction="https://www.opendental.com/OpenDentalWebServiceHQ/SmsCancelService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestListenerProxyPrefs">
      <soap12:operation soapAction="https://www.opendental.com/OpenDentalWebServiceHQ/RequestListenerProxyPrefs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEConnectorType">
      <soap12:operation soapAction="https://www.opendental.com/OpenDentalWebServiceHQ/GetEConnectorType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetEConnectorType">
      <soap12:operation soapAction="https://www.opendental.com/OpenDentalWebServiceHQ/SetEConnectorType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceMainHQHttpPost" type="tns:WebServiceMainHQHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="PerformRefreshCache">
      <http:operation location="/PerformRefreshCache" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateWebAppUrl">
      <http:operation location="/GenerateWebAppUrl" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateWebAppUrl">
      <http:operation location="/ValidateWebAppUrl" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateVersion">
      <http:operation location="/ValidateVersion" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SmsSend">
      <http:operation location="/SmsSend" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SmsSignAgreement">
      <http:operation location="/SmsSignAgreement" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SmsCancelService">
      <http:operation location="/SmsCancelService" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestListenerProxyPrefs">
      <http:operation location="/RequestListenerProxyPrefs" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEConnectorType">
      <http:operation location="/GetEConnectorType" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetEConnectorType">
      <http:operation location="/SetEConnectorType" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceMainHQ">
    <wsdl:port name="WebServiceMainHQSoap" binding="tns:WebServiceMainHQSoap">
      <soap:address location="http://localhost/OpenDentalWebServiceHQ/WebServiceMainHQ.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceMainHQSoap12" binding="tns:WebServiceMainHQSoap12">
      <soap12:address location="http://localhost/OpenDentalWebServiceHQ/WebServiceMainHQ.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceMainHQHttpPost" binding="tns:WebServiceMainHQHttpPost">
      <http:address location="http://localhost/OpenDentalWebServiceHQ/WebServiceMainHQ.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>